* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #080808;
    /* color: #080808; */
    background-color: #f1f1f1;
    /* f5f5f5 */
}

ol, ul {
	list-style: none;
}


/* ----------------Header Styles------------------------- */

/* header {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1604071112261-71e084bc6d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJsYWNrJTIwaW1hZ2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
} */

/* Button {
    padding: 20px;
    border: none;
    margin-top: 25px;
    margin-left: 80px;
    color: #fff;
    background-color: rgba(255, 0, 0, 0.7);
    
} */
/* 
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} */

/* nav ul li {
    display: inline-block;
    margin: 10px 20px;
} */

/* nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
} */

/* Button:hover{
    border-radius: 25px;
    background-color: red;
    color: #fff;
    font-size: large;
    transition: 0.8s ease-in-out;
} */

/* nav ul li a:hover {
    border-radius: 8px;
    text-decoration: underline;
    transform: scale(1.1);
} */


.logo {
    font-size: 1.9rem;
}

span {
    color: red;
    font-size: 2.6rem;
}

.header-text {
    margin-top: 6%;
    font-size: 2rem;
}


.header-text h1 {
    font-size: 0.5px;
}


/* .about-Container {
    padding: 80px 0;;
}

.about-Container img {
    border-radius: 15px;
}

.about-Container h1 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
} */

/* .skills .skills-icons img {
    width: 90px;
    height: 90px;
} */

.sizing img {
    height: 100%;
    width: 100%;
    max-height: 90px;
    max-width: 90px;
  }
  
/* #Skills img {
    width: 90px;
    height: 90px;
  } */

  #Skills .sizing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sizing img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .sizing img:hover {
    transform: scale(1.1);
  }
  

/*
.skills-icons li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.skills-icons div {
    text-align: justify;
} */


/* New Attempt on skills section */
/* .flex-item {
    width: 150px;
    height: 150px;
}

.container .wrapper div img {
    width: 90px;
    height: 90px;
}

.container .wrapper div img:hover {
    width: 125px;
    height: 125px;
    transition: all 0.5s ease-in-out;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img + div {
    text-align: justify;
}

.row .sizing img {
    width: 90px;
    height: 90px;
} */

/* @media(max-width: 500px)
{
    .wrapper
    {
        flex-direction: column;
    }
} */

