<footer class="footer py-3 mt-auto bg-danger text-center text-light">
    <div class="container">
        <span class="text-light">&copy; 2023 - All Rights Reserved. Designed and developed byTakudzwa Maseva</span>
    </div>
</footer>
