<% layout("layout/boilerplate") %>
<title>Student Portfolio|About Me</title>
      <main class="container mt-5 ">
        <section id="About mt-3">
          <h2 class="section-title mb-5 mt-5 text-center">About <span>Me</span></h2>
          <div class="card p-5 shadow border-0 mb-5 dark-text">
            <div class="card-body">
    
              <div class="row">
                <div class="col-md-6 order-md-1">
                  <img class="img-fluid mb-3" src="Images/myself.JPG" alt="MySelf">
                </div>
                <div class="col-md-6 order-md-2">
                  <p class="card-text">
                    I'm an aspiring software developer on a quest to bring innovative ideas to life. With a burning passion for coding and a natural curiosity, I am continuously expanding my knowledge and honing my skills in the world of software development. Through my journey, I have delved into various programming languages and frameworks, including Java, Python, and JavaScript.
    
                    What sets me apart is my insatiable appetite for problem-solving. I thrive in challenging environments that push the boundaries of my abilities. Leveraging my technical expertise, I strive to create efficient and elegant solutions that address real-world problems. But it's not just about writing code for me; I'm driven by the desire to make a positive impact. I believe that software has the power to transform lives and enhance experiences, and I want to be at the forefront of this transformation.
    
                    Collaboration is the cornerstone of my approach. I firmly believe in the power of teamwork, and I thrive when working alongside other talented individuals. I bring not only my technical skills but also my strong communication and interpersonal abilities to the table. I'm a firm believer that open and effective communication is key to achieving exceptional results as a team.
    
                    If you're looking for a passionate and dedicated software developer intern who is eager to contribute to exciting projects and be part of an innovative team, I would love to connect with you. Let's join forces and create remarkable software solutions together.
    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    