<% layout("layout/boilerplate") %>
<head>
  <title>Student Portfolio|Takudzwa Maseva education </title>
</head>
    <!-- ------------Education Section---------------- -->
    <section id="education">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section-title mb-5 mt-5 text-center">My <span class="sub-color">Education</span></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card border-0 p-5 mb-4 shadow">
                <div class="row">
                  <div class="col-md-3 d-flex align-items-center mb-3">
                    <img class="img-fluid" width="100px" height="100px" src="Images/stigs.png" alt="St Ignatius College Chishawasha logo">
                  </div>
                  <div class="col-md-9">
                    <h3 class="card-subtitle mb-2 dark-text">St Ignatius College</h3>
                    <p class="card-text text-muted mb-1">January 2015 - 2020</p>
                    <p class="card-text text-muted mb-1">Ordinary and Advanced Level</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 border-0 p-5 shadow">
                <div class="row">
                  <div class="col-md-3 d-flex align-items-center mb-3">
                    <img class="img-fluid" width="95px" height="95px" src="Images/UCT_Logo.jpg" alt="University of Cape Town logo">
                  </div>
                  <div class="col-md-9">
                    <h3 class="card-subtitle mb-2 dark-text">University Of Cape Town</h3>
                    <p class="card-text text-muted mb-1">March 2021- Present</p>
                    <p class="card-text text-muted mb-1">BSc Computer Science and Business Computing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>