<% layout("layout/boilerplate") %>
<head>
  <title>|Takudzwa Maseva education | Software Developer</title>
</head>

<section id="education" class="mt-5 container">
  <h2 class="section-title mb-5 mt-5 text-center">
    My <span class="sub-color">Education</span>
  </h2>

  <div class="card mb-4 border-0 p-4 shadow rounded-3">
    <div class="row align-items-center">
      <div class="col-md-3 text-center mb-3 mb-md-0">
        <img
          class="img-fluid rounded-circle"
          width="120"
          height="120"
          src="Images/stigs.png"
          alt="St Ignatius College Chishawasha logo"
        />
      </div>
      <div class="col-md-9">
        <h3 class="card-title mb-2 dark-text">St Ignatius College</h3>
        <p class="card-text text-muted mb-1">January 2015 - 2020</p>
        <p class="card-text text-muted mb-2">Ordinary and Advanced Level</p>
      </div>
    </div>
  </div>

  <hr class="my-4" />

  <div class="card mb-4 border-0 p-4 shadow rounded-3">
    <div class="row align-items-center">
      <div class="col-md-3 text-center mb-3 mb-md-0">
        <img
          class="img-fluid rounded-circle"
          width="120"
          height="120"
          src="Images/UCT_Logo.jpg"
          alt="University of Cape Town logo"
        />
      </div>
      <div class="col-md-9">
        <h3 class="card-title mb-2 dark-text">University Of Cape Town</h3>
        <p class="card-text text-muted mb-1">March 2021 - December 2023</p>
        <p class="card-text text-muted mb-2">
          BSc Computer Science and Business Computing
        </p>
      </div>
    </div>
  </div>
</section>
