<% layout("layout/boilerplate") %>
<head>
  <title>Takudzwa Maseva | Software Developer</title>
</head>

<section id="experience" class="mt-5 container">
  <h2 class="section-title mb-5 mt-5 text-center">
    My <span class="sub-color">Experience</span>
  </h2>
  <div class="card p-3 border-0 shadow mb-5 dark-text">
    <div class="card-body">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="timeline-item mb-4">
            <div class="timeline-icon">
              <i class="bi bi-briefcase-fill"></i>
            </div>
            <div class="timeline-content">
              <h5 class="position-title mb-1">Junior Software Developer</h5>
              <p class="company-name text-muted m-0">Metalogix Solutions</p>
              <span class="time-period text-muted">August 2024 - Present</span>
              <p class="mt-1">
                As a Junior Software Developer at Metalogix Solutions, I am
                responsible for developing and maintaining web-based systems for
                clients. I work on building new features, resolving bugs, and
                ensuring smooth operation in production environments. My primary
                tools are React.js for frontend development and Flask for
                backend services.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="timeline-item mb-4">
            <div class="timeline-icon">
              <i class="bi bi-briefcase-fill"></i>
            </div>
            <div class="timeline-content">
              <h5 class="position-title mb-1">Software Developer Intern</h5>
              <p class="company-name text-muted m-0">Metalogix Solutions</p>
              <span class="time-period text-muted m-0"
                >July 2024 - July 2024</span
              >
              <p class="mt-1">
                Gained hands-on experience in software development by
                contributing to a web-based management system for a client.
                Collaborated closely with backend engineers and UI/UX designers
                to consume data from APIs and display it on the frontend using
                React.js. I also translated design mockups into functional
                interfaces using SCSS and ensured the entire management app was
                fully responsive.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon">
              <i class="bi bi-briefcase-fill"></i>
            </div>
            <div class="timeline-content">
              <h5 class="position-title mb-1">Software Engineer Intern</h5>
              <p class="company-name text-muted m-0">The Web 3 Ninja</p>
              <span class="time-period text-muted"
                >January 2024 - June 2024</span
              >
              <p class="mt-1">
                Contributed to the development of a large-scale ad application
                built using Next.js, Tailwind CSS, Express.js, and MongoDB. I
                was responsible for implementing internationalization (i18n)
                routing to support multiple languages. Additionally, I played a
                key role in developing the ads listing feature by creating the
                REST API and integrating it with the frontend to display the
                ads, styled using Tailwind CSS.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
