<% layout("layout/boilerplate") %>
<head>
  <title>Computer Science Student Portfolio|Computer Science Projects|Takudzwa Maseva Projects </title>
</head>
       <!-- ------------Projects Section---------------- -->
  <section id="projects" class="mt-5 container">
    <h2 class="card-title mb-5 mt-5 text-center">My <span>Projects</span></h2>
    <div class="card p-3 border-0 shadow mb-5 dark-text">
      <div class="card-body">
        <div class="row mb-5">
          <div class="col-md-5 mb-4 mb-md-0">
            <img src="Images/portfolio.jpg" alt="my Portfolio website image" class="card-img-top">
          </div>
          <div class="col-md-7">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="card-subtitle mb-0">Portfolio</h3>
              <div>
                <a href="https://github.com/Taku-10/Portfolio" target="_blank" class="me-3 text-muted "><i class="bi bi-github"></i></a>
              </div>
            </div>
            <hr>
            <p class="mb-4">
              My portfolio showcases the projects I have completed as a student, highlighting my skills and achievements in various areas such as programming, web development, and design. I created this website using JavaScript, Node.js, Express, HTML, CSS, and Bootstrap, which helped me gain hands-on experience in these technologies. Through this website, I hope to demonstrate my passion for learning and my dedication to becoming a skilled developer. You can browse through my projects, view my GitHub profile, and learn more about my skills and education.
            </p>
            <p class="text-muted mb-0">Technologies used:</p> 
            <div class="madeWithIcons">
              <i class="devicon-javascript-plain colored"></i>
              <i class="devicon-nodejs-plain colored"></i>
              <i class="devicon-express-original colored"></i>
              <i class="devicon-html5-plain-wordmark colored"></i>
              <i class="devicon-css3-plain colored"></i>
              <i class="devicon-bootstrap-plain colored"></i>
              <i class="devicon-heroku-original colored"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card p-3 border-0 shadow mb-5 dark-text">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 mb-3 mb-md-0">
            <img src="Images/Cook.jpg" alt="Cooks companion project image" class="card-img-top projects">
          </div>
          <div class="col-md-7">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="card-subtitle mb-0">Cooks Companion</h3>
              <div>
                <a href="https://tm-zhe1.onrender.com" target="_blank" class="text-muted me-3"><i class="bi bi-globe"></i></a>
                <a href="https://github.com/Taku-10/Cooks-Companion" target="_blank" class="me-3 text-muted "><i class="bi bi-github"></i></a>
              </div>
            </div>
            <hr>
            <p class="mb-4">Cooks Companion is a web application that I developed to help users discover and explore a wide range of delicious recipes. As a food enthusiast and developer, I wanted to create a platform that would make it easy for people to find new recipes, whether they are looking for quick and easy meals, healthy options, or special treats. Features include recipe search, ability to add a rcipe to favorites, filtering recipes and detailed recipe information. This project helped me gain valuable experience in full-stack web development, API integration, database management, and user-centric design. </p>
            <p class="text-muted mb-0">Technologies used:</p>
            <div class="madeWithIcons">
              <i class="devicon-javascript-plain colored"></i>
              <i class="devicon-nodejs-plain colored"></i>
              <i class="devicon-express-original colored"></i>
              <i class="devicon-mongodb-plain-wordmark colored"></i>
              <i class="devicon-html5-plain-wordmark colored"></i>
              <i class="devicon-bootstrap-plain colored"></i>
              <i class="devicon-css3-plain colored"></i>
              <i class="devicon-heroku-original colored"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card p-3 border-0 shadow mb-5 dark-text">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 mb-3 mb-md-0">
            <img src="Images/Restful API.jpg" alt="Node Restful api project image" class="card-img-top projects">
          </div>
          <div class="col-md-7">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="card-subtitle mb-0">Node Restful API</h3>
              <div>
                <a href="https://github.com/Taku-10/Node-Restful-API" target="_blank" class="me-3 text-muted "><i class="bi bi-github"></i></a>
              </div>
            </div>
            <hr>
            <p class="mb-4">This is a small project i did that showcases my ability to develop a robust RESTful API using Node.js, Express.js, and MongoDB. The API provides CRUD (Create, Read, Update, Delete) functionalities for managing farm data. It was built with the goal of demonstrating my proficiency in designing and implementing a scalable backend architecture.</p>
            <p class="text-muted mb-0">Technologies used:</p>
            <div class="madeWithIcons">
              <i class="devicon-nodejs-plain colored"></i>
              <i class="devicon-express-original colored"></i>
              <i class="devicon-mongodb-plain-wordmark colored"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card p-3 border-0 shadow mb-5 dark-text">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 mb-3 mb-md-0">
            <img src="Images/BidMart.jpg" alt="Bid mart project image" class="card-img-top projects">
          </div>
          <div class="col-md-7">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="card-subtitle mb-0">Bid Mart</h3>
              <div>
                
                <a href="https://bid-mart.onrender.com/listings" target="_blank" class="text-muted me-3"><i class="bi bi-globe"></i></a>
                <a href="https://github.com/Taku-10/Auctions-App" target="_blank" class="me-3 text-muted "><i class="bi bi-github"></i></a>
              </div>
            </div>
            <hr>
            <p class="mb-4">Bid Mart is an online auction platform that brings buyers and sellers together. It allows sellers to list items they want to sell and buyers to bid on items and manage their bids. The platform is built using Node.js, Express.js, MongoDB, HTML, CSS and Bootstrap. The app also takes advantage of the sendgrid api to send email notifications as well as the mapbox api for map functionalities. Features include user authentication, bidding history, user profile management, listings management, auction updates and notifications via email, forgot/reset password. Users can also add items they want to keep an eye on by adding to a watchlist. Asynchronous errors are properly handled.</p>
            <p class="text-muted mb-0">Technologies used:</p>
            <div class="madeWithIcons">
              <i class="devicon-javascript-plain colored" title="JavaScript"></i>
              <i class="devicon-nodejs-plain colored"></i>
              <i class="devicon-express-original colored"></i>
              <i class="devicon-mongodb-plain-wordmark colored"></i>
              <i class="devicon-html5-plain-wordmark colored"></i>
              <i class="devicon-bootstrap-plain colored"></i>
              <i class="devicon-css3-plain colored"></i>
              <i class="devicon-heroku-original colored"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="card p-3 border-0 shadow mb-5 dark-text">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 mb-3 mb-md-0">
            <img src="Images/typingTutorGame.jpg" alt="Typing tutor game project image" class="card-img-top">
          </div>
          <div class="col-md-7">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="card-subtitle mb-0">Typing Tutor Game</h3>
              <div>
                <a href="https://github.com/Taku-10/Typing-Tutor" class="me-3 text-muted "><i class="bi bi-github"></i></a>
              </div>
            </div>
            <hr>
            <p class="mb-4">
              This project was part of my coursework in my second year of study. It involved extending a multithreaded educational “Typing Tutor” game coded in Java, with the goal of increasing understanding of thread synchronization and thread safety. The game challenges the player to type in the falling words before they hit the bottom of the screen. As part of the project, two new features were added to the existing game without breaking the existing code: ensuring that the lowest word disappears first when duplicate words appear on the screen, and a green word (Hungry Word) that moves horizontally across the middle of the screen and causes any words it bumps into to disappear. Though this project, I gained experience in working with multithreaded programs and implementing thread synchronization.
            </p>
            <p class="text-muted mb-0">Technologies used:</p>
            <i class="devicon-java-plain-wordmark colored madeWithIcons"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card p-3 border-0 shadow mb-5 dark-text">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 mb-3 mb-md-0">
            <img src="/Images/Alphabet.png" alt="" class="card-img-top">
          </div>
          <div class="col-md-7">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="card-subtitle mb-0">Alphabet app for kids</h3>
              <div>
                <a href="https://github.com/Taku-10" target="_blank" class="me-3 text-muted "><i class="bi bi-github"></i></a>
              </div>
            </div>
            <hr>
            <p class="mb-4">
              As part of a Mobile Device Development course, I developed an Alphabet Book Android App that allows users to view images corresponding to each letter of the alphabet. The app features two main views: an overview page with a button for each letter of the alphabet and a letter page that displays the selected image. On the letter pages, there are buttons for navigating to the first, previous, next, last letter pages, as well as the overview page that shows all the letters of the alphabet. The app is targeted towards parents and educators of young children.  tested it with a Google Pixel 4A emulator running Android 10 (API Level 29)
            </p>
            <p class="text-muted mb-0">Technologies used:</p>
            <i class="devicon-kotlin-plain-wordmark colored madeWithIcons"></i>
          </div>
        </div>
      </div>
    </div> -->

    <div class="card p-3 border-0 shadow mb-5 dark-text">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 mb-3 mb-md-0">
            <img src="Images/PoppelOrdering.jpg" alt="Poppel order processing project image" class="card-img-top">
          </div>
          <div class="col-md-7">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3 class="card-subtitle mb-0">Poppel Order Processing</h3>
              <div>
                <a href="https://github.com/Taku-10/Poppel" target="_blank" class="me-3 text-muted "><i class="bi bi-github"></i></a>
              </div>
            </div>
            <hr>
            <p class="mb-4">
              This project was part of my coursework in my second year of study. I worked with a partner to develop a C# system and create a Systems Specification document. The system allows an admin to register new customers, update their details and also to blacklist them so that they can not order. The system also keeps track of the inventory and manages that. An admin is able to capture a customer's order using the system and then process the order and issue the customer with an invoice. The system is also able to generate reports for the business like a report that shows the products that are about to expire. This project helped me develop my C# programming skills, and I gained valuable experience working collaboratively with a partner to achieve a common goal.
            </p>
            <p class="text-muted mb-0">Technologies used:</p>
            <i class="devicon-csharp-plain colored madeWithIcons"></i>
          </div>
        </div>
      </div>
    </div>   
  </section>

  