body {
  background-color: #000;
  /* color: #080808; */
  color: #f1f1f1;
  /* f5f5f5 */
  font-family: "Roboto", sans-serif;
  line-height: 2.3;
}

.card {
  background-color: #f7f7f7;
}

.dark-text {
  color: #333333;
}

.light-text {
  color: #f1f1f1;
}

.intro-text {
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  color: red;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.sub-color {
  color: red;
}

.header-text {
  margin-top: 6%;
  font-size: 2rem;
}

.header-text h1 {
  font-size: 0.5px;
}

section h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 2.4em;
}

.sizing img {
  height: 100%;
  width: 100%;
  max-height: 90px;
  max-width: 90px;
  transition: transform 0.2s ease-in-out;
}

#Skills .sizing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sizing img:hover {
  transform: scale(1.2);
}

.madeWithIcons {
  font-size: 2.3em;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.4rem;
  flex-wrap: wrap;
}

.madeWithIcons i {
  padding: 10px;
}

.social-icons a i {
  color: black;
}

.social-icons a:hover i.bi-linkedin {
  color: #0077b5; /* LinkedIn color */
}

.social-icons a:hover i.bi-github {
  color: #333333; /* GitHub color */
}

.social-icons a:hover i.bi-facebook {
  color: #1877f2; /* Facebook color */
}

.social-icons a:hover i.bi-instagram {
  color: #e4405f; /* Instagram color */
}

.logo {
  width: 140px;
  height: 40px;
  object-fit: contain;
}

.hero-section {
  background-color: #000;
  padding: 80px 0;
}

.hero-content h1 {
  font-size: 4.5em;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #fff;
}

.hero-content h4 {
  color: #fff;
}

.hero-content p {
  color: #fff;
  font-size: 1.2em;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.icons a i {
  color: #fff;
  font-size: 2em;
}

.icons a {
  display: block;
  margin-bottom: 0.6em;
}

.icons a:hover i.bi-linkedin {
  color: #0077b5; /* LinkedIn color */
}

.icons a:hover i.bi-github {
  color: #333333; /* GitHub color */
}

.icons a:hover i.bi-facebook {
  color: #1877f2; /* Facebook color */
}

.icons a:hover i.bi-instagram {
  color: #e4405f; /* Instagram color */
}

.project-image-boarder {
  border: 1px solid #6c757d;
}

/* Responsive Styles */

@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 3em;
  }

  .hero-content h4 {
    font-size: 1.5em;
  }

  .hero-content p {
    font-size: 1em;
  }

  .icons a i {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5em;
  }

  .hero-content h4 {
    font-size: 1.2em;
  }

  .hero-content p {
    font-size: 0.9em;
  }

  .icons a i {
    font-size: 1.2em;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 2em;
  }

  .hero-content h4 {
    font-size: 1em;
  }

  .hero-content p {
    font-size: 0.8em;
  }

  .icons a i {
    font-size: 1em;
  }
}

/* Small devices (phones) */
@media only screen and (max-width: 576px) {
  .sizing img {
    max-width: 50px;
    max-height: 50px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .sizing img {
    max-width: 70px;
    max-height: 70px;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 768px) {
  .sizing img {
    max-width: 90px;
    max-height: 90px;
  }
}
